.sectionIntro {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
 .sectionIntro {
    flex-direction: row;
 }
}

.headingsContainer {
  flex: 1;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .headingsContainer {
    margin-top: 50px;
  }
 }

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .imageContainer {
    justify-content: flex-end;
  }
}

.mainImage {
  filter: invert();
  max-height: 250px;
}

@media screen and (min-width: 768px) {
  .mainImage {
    margin: 50px 50px 0 50px;
    max-height: 400px;
  }
}

.ctaContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
}

.ctaPrimary {
  color: white;
  background-color: #509949;
  border-radius: 25px;
  padding: 14px 23px;
  box-shadow: 0px 2px 15px rgb(80, 80, 80);
  text-decoration: none;
  font-weight: bold;
}

.ctaSecondary {
  text-decoration: none;
  margin: auto 0;
  color: #969696;
  font-weight: 500;
}

:hover.ctaSecondary {
  transform: scale(1.05);
}