.learnerModulePage {
    margin: 0 0;
}
@media screen and (min-width: 768px) {
    .learnerModulePage {
        margin: 0 100px;
    }
}

.moduleHeading {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    .moduleHeading {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.quizSection {
    margin: 60px 0;
    overflow-wrap: break-word;
}

.quizLink {
    display: flex;
    max-width: 200px;
    margin: 0 auto;
}

.quizLinkText {
    margin: 0 15px 0 0;
}

.sourceLink {
    color: rgb(125, 125, 197);
    text-decoration: underline;
    font-size: smaller;
}