.sectionSignUp {
    padding-top: 60px;
}

.headingSignUp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field {
    background-color: #FFFFFF;
    border: 3px solid black;
}