.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2% 40px;
}

@media screen and (min-width: 768px) {
  .App-header {
    padding: 2% 10%;
  }
}

@media screen and (min-width: 1500px) {
  .App-header {
    padding: 2% 17%;
  }
}

.linkHomePage {
  flex: 1;
}

.spacer {
  flex: 4
}

.linkModulesPage {
  flex: 1;
}

.linkHelpPage {
  flex: 1;
}