.footer {
  padding: 15% 40px;
  background-color: #D3D3D3;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 5% 10%;
  }
}
@media screen and (min-width: 1500px) {
  .footer {
    padding: 5% 17%;
  }
}

.footerHeading {

}