.App {
  text-align: center;
  background-color: rgba(205, 242, 202, 0.2);
  padding: 2% 40px;
}

@media screen and (min-width: 768px) {
  .App {
    padding: 2% 10%;
  }
}

@media screen and (min-width: 1500px) {
  .App {
    padding: 2% 17%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  margin: 0 0 150px 0;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
 .responsiveContainer {
    flex-direction: row;
 }
}

@media screen and (max-width: 768px) {
  .mobile-column-reverse {
    flex-direction: column-reverse;
  }
 }

.image {
  max-height: 250px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .image {
    margin: 50px 0 0 50px;
    max-height: 400px;
  }
}